
    /* les styles de notre page, ils positionnent correctement le footer */

    body {
      background-color: #fcfcfc;
      padding-bottom: 300px;
    }

    footer a {
      margin: 50px;
    }

    a:hover {
      text-decoration: underline;
    }

    .img-rounded {
      width: 350px;
      margin: 50px 0 50px 0;
    }

    footer {
      position: fixed;
      bottom: 0;
      height: 40px;
      line-height: 40px;
      width: 100%;
    }

    /* mobile */

    @media screen and (max-width: 768px) {
      footer {
        height: 80px;
        line-height: 40px;
      }
    }
